<div class="row">


    <div class="col-lg-4 col-md-6" *ngFor="let product of products">

        <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img [src]="product.ProductImg" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
                <div class="category">
                    <span>{{product.ProductName}}</span>
                </div>
                <div class="description-prod">
                    <p class="card-text">Available piece:
                        <span [ngClass]="{heighlited: product.AvailablePieces == 1 || product.AvailablePieces == 2 || product.AvailablePieces == 3}">{{product.AvailablePieces}}</span>
                    </p>
                    <p class="strick" *ngIf="product.AvailablePieces == 0">Out Of Stock</p>
                    <div class="wcf-left mt-3"><span class="price"> {{product.ProductPrice}} $</span></div>
                </div>
                <div class="card-footer">

                    <div class="wcf-right">

                        <button mat-raised-button color="primary" class="snipcart-add-item add-to-cart btn btn-default" [attr.data-item-id]="product?.ProductId" [attr.data-item-price]="product?.ProductPrice" [attr.data-item-image]="product?.ProductImg" [attr.data-item-name]="product?.ProductName">
                                Add
                              </button>


                    </div>
                    <a [title]="product.ProductName + 'details'" [routerLink]="['product/', product.ProductId]" class="card-link">
                        Details
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>