.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background: #32b0a8;
    color: white;
    button {
        background-color: unset;
        outline: unset;
        border: unset;
        cursor: pointer;
        .mat-icon {
            color: #fff;
        }
        ;
    }
}